<h1 style="text-align: center;">{{'Line Chart'|translate}}</h1>
<div [chart]="chart">></div>
<div>
   
    <div class="container">
        <h3 class="mt-2"></h3>
        <div class="row">
          <div class="col-sm">
            <div id="barChart" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
            <h1 class="card-title text-center">{{'Bar Chart'|translate}}</h1>
          </div>
          <div class="col-sm">
            <div id="pieChart" style="width:100%; height:400px;"></div>
            <h1 class="card-title text-center">{{'piechart'|translate}}</h1>
          </div>
        </div>
      </div>
      

</div>















