<ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzSelected>
    <i nz-icon nzType=""></i>
    <a routerLink="/">{{'Chart'|translate}}</a>
  </li>
  <li nz-menu-item>
    <i nz-icon nzType=""></i>
    <a routerLink="/table">{{'Table'| translate}}</a>
  </li>

  <li nz-menu-item>
    <i nz-icon nzType=""></i>
    <a routerLink="/localization">{{ "Localization"|translate}}</a>
  </li>
  <li nz-menu-item>
    <i nz-icon nzType=""></i>
    <a routerLink="/dummy-json">{{'Dummy-Json'|translate}}</a>
  </li>
  <li nz-menu-item>
    <i nz-icon nzType=""></i>
    <a routerLink="/signup">{{'SignUp'|translate}}</a>
  </li>
  <li nz-menu-item>
    <i nz-icon nzType=""></i>
    <a routerLink="/document">{{'Document'|translate}}</a>
  </li>
</ul>

<router-outlet></router-outlet>